<nz-calendar (nzSelectChange)="handleDateClick($event)">
  <ng-template #cellTemplate let-date>
    <ul class="events">
      <li *ngFor="let event of getListData(date)">
        <nz-badge [nzStatus]="event.type" [nzText]="event.content"></nz-badge>
      </li>
    </ul>
  </ng-template>

  <ng-template [nzDateCell]="cellTemplate"></ng-template>
</nz-calendar>

<ng-template #viewSchedule>
  <div>
        <strong>Bệnh nhân:</strong> tuan <br />

    <p><strong>Ngày khám:</strong> {{ selectedDate?.format('DD/MM/YYYY') }}</p>
    <ul>
      <li *ngFor="let event of selectedEvents">
        <strong>Bệnh nhân:</strong> tuan <br />
        <strong>Ngày khám:</strong> {{ event.testDate | date: 'dd/MM/yyyy' }}
      </li>
    </ul>
  </div>
</ng-template>
