<div class="title">
  <label>Lịch khám</label>
</div>


<nz-calendar
  [(ngModel)]="selectedDate"
  (nzSelectChange)="handleDateClick($event)"
>
  <ng-container *nzDateCell="let date">
    <ul class="events">
      <li *ngFor="let event of getListData(date)">
        <nz-badge [nzText]="event.content" nzStatus="success" (click)="showModalPhysical(event)"></nz-badge>
      </li>
    </ul>
  </ng-container>
</nz-calendar>



<!-- Hiển thị lịch khám trong ngày -->
<ng-template #viewSchedule>
  <ng-container *ngIf="selectedEvents && selectedEvents.length > 0; else noSchedule">
    <p><strong>Ngày khám:</strong> {{ selectedDate | date: 'dd/MM/yyyy' }}</p>
    <ul>
      <li *ngFor="let event of selectedEvents">
        <div (click)="showModalPhysical(event)">
          <strong >Bệnh nhân:</strong> {{ event.patient?.fullName }} <br />
          
        </div>
        <strong>Ngày khám:</strong> {{ event.testDate | date: 'dd/MM/yyyy' }}
      </li>
    </ul>
  </ng-container>

  <ng-template #noSchedule>
    <p><i>Không có lịch khám trong ngày này.</i></p>
  </ng-template>
</ng-template>

